<div class="d-flex mx-auto", style="width: 95%;", data-comment-id=<%= comment.id %>>
  <%= render 'shared/user/image', image: comment.user.decorate.image_url %>
  <div class="ml-2", style="width: 100%;">
    <%= render 'comments/detail', comment: comment %>
    <%= render 'comments/edit_form', comment: comment %>
    <div class="mb-4">
      <%= render 'comments/icon', comment: comment  %>
      <% if comment.parent.blank? %>
        <%= render 'comments/reply_form', comment: Comment.new(
          quest_id: comment.quest_id, opinion_type: comment.opinion_type, parent_id: comment.id) %>
      <% end %>
    </div>
  </div>
</div>
