<%= form_with model: comment, remote: true do |f| %>
  <div class="form-group">
    <%= f.label "「#{opinion(comment.opinion_type)}」をコメント" %><br>
    <%= f.text_area :content, style: "width: 95%; height: 150px;"%>
  </div>
  <%= f.hidden_field :quest_id, value: comment.quest_id %>
  <%= f.hidden_field :opinion_type, value: comment.opinion_type %>
  <%= f.hidden_field :parent_id, value: comment.parent_id %>
  <%= f.submit "コメントする", class: "btn btn-primary" %>
<% end %>