<div class="d-flex">
  <div>
    <%= image_tag current_user.decorate.image_url, class: "image_icon rounded-circle" %>
  </div>
  <div class="ml-2", style="width: 100%;">
    <%= form_with model: comment, remote: true do |f| %>
      <div class="form-group mb-2">
        <%= f.text_area :content, style: "width: 90%; height: 150px;", placeholder: "返信"%>
      </div>
      <%= f.hidden_field :quest_id, value: comment.quest_id %>
      <%= f.hidden_field :opinion_type, value: comment.opinion_type %>
      <%= f.hidden_field :parent_id, value: comment.parent_id %>
      <%= f.submit "Save", class: "btn btn-primary" %>
      <button type="button" class="btn btn-light reply_cancel" data-reply-canceled-id=<%= comment.parent_id %>>
        Cancel
      </button>
    <% end %>
  </div>
</div>