<!DOCTYPE html>
<html>
  <head>
    <title>QuestReview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application','data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-light border-bottom justify-content-between">
            <%= link_to 'QuestReview', root_path, class: "navbar-brand text-primary" %>
            <% if user_signed_in? %>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse my-1 my-sm-0" id="navbarToggler">
                <div class="d-flex flex-column flex-sm-row justify-content-sm-end" style="width: 100%;">
                  <div><%= link_to 'クエスト一覧', quests_path, class: "mx-2" %></div>
                  <div><%= link_to 'クエスト登録', new_quest_path, class: "mx-2" %></div>
                  <div><%= link_to '設定', user_path(current_user.id), class: "mx-2" %></div>
                </div>
              </div>
            <% else %>
              <%= link_to 'ログイン', new_user_session_path %>
            <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
