<div class="page_head p-4">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    
    <div class="form-group">
      <%= f.label :user_name %>
      <%= f.text_field :user_name, autofocus: true, class: "d-block" %>
    </div>
  
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", class: "d-block" %>
    </div>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  
    <div class="form-group">
      <%= f.label :password, "新しいパスワード（#{@minimum_password_length}文字以上）" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "d-block" %>
      <span>※パスワード更新しない場合は空欄可</span>
    </div>
  
    <div class="form-group">
      <%= f.label :password_confirmation, "新しいパスワード（確認用）" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "d-block" %>
    </div>
  
    <div class="form-group">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "d-block" %>
    </div>
  
    <div class="form-group">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  <% end %>
  
  <div class="my-4">
    <%= link_to registration_path(resource_name), method: :delete, data: { confirm: '削除しますか？' } do %>
      <%= icon('fas', 'trash-alt') %>
      <span>アカウントの削除</span>
    <% end %>
  </div>
  
  <div>
    <%= link_to '戻る', user_path(current_user.id) %>
  </div>
  
</div>